<ion-view view-title="Dashboard">
    <ion-content class="text-center">
        <!--<ion-list>-->
          <!--<ion-item class="item-remove-animate" ng-repeat="party in parties" type="item-text-wrap" href="#/tab/vote/{{chat.id}}">-->
            <!--<img ng-src="{{chat.face}}">-->
            <!--<h1>{{party.name}}</h1>-->
            <!--<h5>{{chat.ident}}</h5>-->
          <!--</ion-item>-->
        <!--</ion-list>-->

        <div class="row-note row-center responsive-sm">
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>אמת</h1>
              <h5>המחנה הציוני</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>מחל</h1>
              <h5>הליכוד</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>מרצ</h1>
              <h5>מרצ</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>טב</h1>
              <h5>הבית היהודי</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
        <!--</div>-->
        <!--<div class="row-note row-center responsive-sm">-->
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>ודעם</h1>
              <h5>הרשימה המשותפת</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>פה</h1>
              <h5>יש עתיד</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>כ</h1>
              <h5>כולנו</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>שס</h1>
              <h5>ש"ס</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
        </div>
        <div class="row-note row-center">
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>ג</h1>
              <h5>יהדות התורה</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>ל</h1>
              <h5>ישראל ביתנו</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>קץ</h1>
              <h5>יחד</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
          <div class="col-note">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h1>קנ</h1>
              <h5>עלה ירוק</h5>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
        </div>
    </ion-content>
</ion-view>
