<ion-view cache-view="false" view-title="תוצאות">
 <ion-nav-buttons side="primary">
  <a class="button ion-arrow-right-a" href="#/tabs/results/friends" style="font-size:28px; border:0"></a>
 </ion-nav-buttons>
  <ion-content class="text-center">
  <div class="row header" ng-controller="IntegrityCtrl">
    <div class="col title right">שיתוף תוצאות</div>
  </div>  

      <a class="facebook-invite-btn" target="_blank" href="https://www.facebook.com/dialog/share?app_id=1557020157879112&display=popup&href=https%3A%2F%2Fivote.org.il&redirect_uri=https%3A%2F%2Fivote.org.il">
        שיתוף בפייסבוק
      </a>

      <a class="tweeter-invite-btn" target="_blank" href="https://twitter.com/intent/tweet?text=iVote%20-%20.%D7%9E%D7%A6%D7%91%D7%99%D7%A2%D7%99%D7%9D.%20%D7%9E%D7%A9%D7%A4%D7%99%D7%A2%D7%99%D7%9D.%20%D7%9E%D7%A0%D7%A6%D7%97%D7%99%D7%9D%20https%3A%2F%2Fivote.org.il">
        ציוץ בטוויטר
      </a>

      <a class="whatsup-invite-btn" href="whatsapp://send" data-text="iVote .מצביעים. משפיעים. מנצחים" data-href="https://ivote.org.il">
        שליחה בוואסטאפ
      </a>

      <a class="mail-invite-btn" href="mailto:?Subject=iVote&Body=%0Ahttps%3A//ivote.org.il">
        שליחה במייל
      </a>



  </ion-content>
</ion-view>



