<ion-view view-title="תוצאות">
 <ion-nav-buttons side="primary">
  <a class="button ion-arrow-right-a" href="#/tabs/results/friends" style="font-size:28px; border:0"></a>
 </ion-nav-buttons>
  <ion-content class="text-center">
  <div class="row header" ng-controller="IntegrityCtrl">
    <div class="col title right">שיתוף תוצאות</div>
  </div>  
      <a class="facebook-invite-btn" target="_blank" href="https://www.facebook.com/dialog/share?app_id=1557020157879112&display=popup&href={{ url }}&redirect_uri=https%3A%2F%2Fivote.org.il%2Fclient%2F">
        שיתוף בפייסבוק
      </a>

      <a class="tweeter-invite-btn" target="_blank" href="https://twitter.com/intent/tweet?text=%D7%AA%D7%95%D7%A6%D7%90%D7%95%D7%AA%20%D7%94%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA%20%D7%94%D7%9E%D7%91%D7%95%D7%A1%D7%A1%D7%95%D7%AA%20%D7%A2%D7%9C%20%D7%94%D7%A6%D7%91%D7%A2%D7%95%D7%AA%20%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%95%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%A9%D7%9C%20%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%A9%D7%9C%D7%99%20%0A%23%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA2015%0A{{ url }}">
        ציוץ בטוויטר
      </a>

      <a class="whatsup-invite-btn" href="whatsapp://send?text=https://ivote.org.il" data-action="share/whatsapp/share">
        שליחה בוואסטאפ
      </a>

      <a class="mail-invite-btn" href="mailto:?subject=%D7%AA%D7%95%D7%A6%D7%90%D7%95%D7%AA%20%D7%94%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA%20%D7%94%D7%9E%D7%91%D7%95%D7%A1%D7%A1%D7%95%D7%AA%20%D7%A2%D7%9C%20%D7%94%D7%A6%D7%91%D7%A2%D7%95%D7%AA%20%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%95%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%A9%D7%9C%20%D7%94%D7%97%D7%91%D7%A8%D7%99%D7%9D%20%D7%A9%D7%9C%D7%99%20%D7%91%D7%90%D7%A4%D7%9C%D7%99%D7%A7%D7%A6%D7%99%D7%99%D7%AA%20iVote&body=%0A{{ url }}">
        שליחה במייל
      </a>
  </ion-content>
</ion-view>



