<ion-view title="הזדהות" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content has-header="true">
    <div class="text-center">
        <div>
            <h1>תעודת זהות</h1>
        </div>
        <div>
            <h2>
                <p>למה אנחנו מבקשים הזדהות ?</p>
                <p>על מנת להבטיח את אמינות התוצאות.</p>
            </h2>
        </div>
        <div>
            <h2>
                <p>ההצבעה הינה חשאית ומאובטחת.</p>
                <p>לעולם לא נשתף את הצבעתך או כל מידע פרטי.</p>
            </h2>
        </div>
    </div>
    <div class="text-center padding">
      <button class="button icon icon-right ion-ios7-pulse-strong button-positive" ng-click="fbLogin()">
      התחבר עם פייסבוק
      </button>
    </div>
  </ion-content>
</ion-view>