<ion-view view-title="קמפיינים">
    <ion-content>	  

  <div class="results-title-box">
    <div class="results-title">קמפיינים</div>
    <div class="results-subtitle">
      אילו הבחירות היו נערכות היום,
      <br>
      לאיזו מפלגה הייתה מצביע?
    </div>
    <div class="clearfix"></div>
  </div>

	<div class="result-tabs">
	  <a class="button button-dark" href="#/tabs/feed/post">כתוב</a>
	  <a class="button" href="#/tabs/feed/me">אני</a>
	  <a class="button" href="#/tabs/feed/friends">חברים</a>
	</div>    

	<form ng-submit="postToFeed()" ng-controller="FeedPostCtrl">
	  <div class="item item-body text-center">
	    <p style="font-size:30px;">
	      כתוב הודעה:
	    </p>

	    <p>
	    	<textarea name="text" ng-model="text" placeholder="תוכן ההודעה" style="min-height:50px;"></textarea>
	    </p>

	    <p>
			<button class="button button-dark">
			  שלח
			</button>		    
	    </p>
	  </div>
	</form>

    </ion-content>
</ion-view>
