<ion-view cache-view="false" view-title="קמפיינים"> 
 <ion-nav-buttons side="primary">
  <a class="button ion-compose" href="#/tabs/feed/post" style="border:0px"></a>
 </ion-nav-buttons>
 	<ion-content>	  
  <div class="row header" ng-controller="IntegrityCtrl">
    <div class="col title">קמפיינים</div>
    <div class="col-50">
    </div>
  </div>
	<div class="result-tabs">
	  <a class="button" href="#/tabs/feed/me">אני</a>
	  <a class="button button-dark" href="#/tabs/feed/friends">חברים</a>
	  <a class="button" href="#/tabs/feed/party">מפלגה</a>
	</div>    
	<div class="row loader" ng-hide="feedData.length > 0">
	  	<div class="col text-center"><i class="icon ion-loading-c"></i> טוען...</div>
	</div>
	<div class="post" ng-repeat="item in feedData" ng-style="{backgroundColor: item.color}">
	  <div class="row">
	    <div class="col">מצביע\ה {{ item.party }}</div>
	    <div class="col text-left">חבר</div>
	  </div>
	  <div class="row">
	    <div class="col">
	    	<div class="textwrapper">
	      		<div class="text">{{ item.post }}</div>
	      	</div>
	    </div>
	  </div>
	</div>
    </ion-content>
</ion-view>
