
<h2>Clinent is <a href="/client/">here</a>.</h2>

<br/>

<h3>Available API calls:</h3>

<p>
  <a href="/api/connect">Connect</a> [POST token=12345]<br/>
  <a href="/api/users.json">Users</a><br/>
  <a href="/api/relations.json"/>Relations</a><br/>
  <a href="/api/parties.json"/>Parties</a><br/>
  <a href="/api/votes.json"/>Votes</a><br/>
  Voting <a href="/api/votes/results/1.json"/>Results</a> [for id:1] aggregated.<br/>
  <a href="/api/stream/post/1.json"/>Stream</a> [POST text=blabla]<br/>
</p>
