
<p>Clinent is <a href="/client">here</a>.</p>


<u>Available API calls:</u>

<p>
  <a href="/api/users.json">Users</a><br/>
  <a href="/api/parties.json"/>Parties</p><br/>
  <a href="/api/parties.json"/>Parties</p><br/>
</p>
