
<h2>Clinent is <a href="/client/">here</a>.</h2>

<br/>

<h3>Available API calls:</h3>

<p>
  <a href="/api/users.json">Users</a><br/>
  <a href="/api/parties.json"/>Parties</a><br/>
  <a href="/api/votes.json"/>Votes</a><br/>
</p>
