<a href="/client/"><%= image_tag 'share_header.png', :style => 'width:100%;max-width:768px;' %><br/>
<img src="https://ivoteimageapi.herokuapp.com/results/<%= params[:id] %>" style="width:100%;max-width:768px;" /></a>