<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.min.js"></script>
  <script src="lib/angular-resource/angular-resource.min.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="lib/openfb/openfb.js"></script>
  <script src="js/index.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>

<body dir="rtl" ng-app="starter">
  <ion-nav-bar animation="nav-title-slide-ios7"
               class="bar-dark"
               back-button-type="button-icon"
               back-button-icon="ion-arrow-left-c"></ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <script id="sign-in.html" type="text/ng-template">
    <ion-view title="הזדהות" left-buttons="leftButtons" right-buttons="rightButtons">
      <ion-content has-header="true">
        <div class="text-center">
            <div>
                <h1>תעודת זהות</h1>
            </div>
            <div>
                <h2>
                    <p>למה אנחנו מבקשים הזדהות ?</p>
                    <p>על מנת להבטיח את אמינות התוצאות.</p>
                </h2>
            </div>
            <div>
                <h2>
                    <p>ההצבעה הינה חשאית ומאובטחת.</p>
                    <p>לעולם לא נשתף את הצבעתך או כל מידע פרטי.</p>
                </h2>
            </div>
        </div>
        <div class="text-center padding">
          <button class="button icon icon-right ion-ios7-pulse-strong button-positive" ng-click="fbLogin()">
          התחבר עם פייסבוק
          </button>
        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="tabs.html" type="text/ng-template">

  <ion-nav-bar animation="nav-title-slide-ios7"
               class="bar-dark"
               back-button-type="button-icon"
               back-button-icon="ion-arrow-left-c"></ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

      <ion-tabs class="tabs-icon-left tabs-dark" animation="slide-left-right">

        <!-- Campaign Tab -->
        <ion-tab title="קמפיינים" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tabs/campaign">
          <ion-nav-view name="tabs-campaign"></ion-nav-view>
        </ion-tab>


        <!-- Chats Tab -->
        <ion-tab title="תוצאות" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tabs/results">
          <ion-nav-view name="tabs-results"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
  </script>

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Confirm Vote</h1>
      </ion-header-bar>
      <ion-content>
          <div class="row-note row-center responsive-sm">
            <div class="col-note">
              <div style="text-align:center;">
                <h1>{{ parties[pid].code }}</h1>
                <h5>{{ parties[pid].name }}</h5>
              </div>
            </div>
          </div>
          <div class="row-note row-center responsive-sm">
            <div class="col-50">
                  <button class="button button-block button-balanced" ng-click="confirmVote()">
                  אישור
                  </button>
            </div>
            <div class="col-50">
                  <button class="button button-block button-dark" ng-click="closeModal()">
                  ביטול
                  </button>
            </div>
          </div>
      </ion-content>
    </ion-modal-view>
  </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59150657-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>